<div class="col-md-6 col-md-offset-3">
    <%= link_to "Home", root_path, method: :get, class: "btn btn-default" %>
    <%= link_to "Seattle", seattle_path, method: :get, class: "city btn btn-default" %>
    <%= button_tag "Other City", class: "city btn btn-default" %>
  <h1 class="main-header">Foodie Stories</h1>
</div>
