<div class="content-box">

<h1>Foodie Stories</h1>
  <%= link_to "Seattle", seattle_path, method: :get, class: "city btn btn-default" %>
  <%= button_tag "City", class: "city btn btn-default" %>
</div>
