<div class="content-box">
  <%= render "home/header" %>
  <div class="col-md-8 col-md-offset-2">
    <h1><%=city%></h1>
    <p>

      <!-- #<%= @npr_data %> -->
      <br>
      <%= @nyt_travel.class %>
    </p>
  </div>
</div>
