// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  background-image: image-url("fruits.jpg");
  background-width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.content-box {
  font-family: 'Bitter', serif;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  overflow: scroll;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 70%;
  width: 80%;
}

.main-header {
  font-size: 4em;
  font-weight: bold;
  text-align: center;
}

.intro-welcome {
  margin-top: 10px;
  font-size: 1.6em;
}
